/* VARIABLES */
$blk : #000000;
$wht: #FFFFFF;
$wht_2: #F4FFF2;
$wht_3: #e4f2e7;
$l_gray : #a6a6a6;
$d_gray : #292b2c;
$d_green : #051702;
$d_green_2 : #064a00;
$dark_green: #0b210b;
$neon: #73FF66;
$neon_2: #0C8D00;
$accent_light: rgba(191,255,102,0.2);
$bg_smoke : './../images/bg.jpg';
$gradient_gb : linear-gradient(180deg, $d_green_2, $blk);
$gradient_bgb : linear-gradient(180deg, $blk, $dark_green, $blk);
/* ************************** */

/* MIXINS */
@mixin main_typo {
  font-family: Raleway, 'sans serif';
  color: #e2e2e2;
}

@mixin bg_main {
  background-image: url($bg_smoke);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 4%;
  padding-bottom: 10%;
  background-attachment: scroll;
}

@mixin bg_gradient {
background: linear-gradient(180deg, $blk, $dark_green, $blk);
}

@mixin tint {
  background-color: rgba(0,0,0,0.67);
}

@mixin typo_carousel {
  padding: 16px;
  letter-spacing: 2px;
  line-height: 140%;
}

@mixin steam_nav($height) {
  background: $gradient_gb;
  height: $height;
  // padding-bottom: 12px;
}

@mixin steam_nav_typo {
  font-family: Orbitron, sans-serif;
  font-size: 0.62rem;
  letter-spacing: 1px;
  color: $neon;
  border-right: 1px solid $blk;
  height: 40px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0;
}

@mixin steam_nav_hover {
  color: $wht_2;
  background-color: $neon_2;
  border-left-color: $neon_2;
  border-right-color: $neon_2;
}

@mixin space_b4_sections {
  margin-top: 4%;
  padding-top: 34px;
  padding-bottom: 34px;
}

/* ============ MAIN ================= */
html>body {
  @include main_typo;
}

/* ============ NAVBAR =============== */
nav#main-nav.navbar  {
  @include steam_nav(40px);
  ul.navbar-nav>li {
    >a {
      @include steam_nav_typo;
      &:hover {
        @include steam_nav_hover;
      }
    }
    &:first-child {
      border-left: 1px solid $blk;
    }
  }
}

div.dropdown-menu {
  @include steam_nav(auto);
  border-style: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  >a.dropdown-item {
    @include steam_nav_typo;
    margin-left: 14px;
    border-bottom: 1px solid $blk;
    border-right: none;
    width: 90%;
    &:hover {
      @include steam_nav_hover;
    }
  }
}

a.navbar-brand#brand {
  @include steam_nav_typo;
  display: inline-block;
  border-right-style: none;
  position: relative;
  bottom: 5px;
  >span {
    font-size: 0.75rem;
  }
  >i.fa-gamepad {
    font-size: 1rem;
  }
}

button.navbar-toggler {
  border-style: none;
  padding-top: 2px;
  >i.fa-bars {
    color: $neon;
    font-size: 1rem;
  }
}

div#navbarNavDropdown {
  @include steam_nav(auto);
} /* =============== NAVBAR END ============ */

/* =============== HEADER ============ */
div#header {
  @include bg_main;
  background-color: $blk;
} /* =============== HEADER END============ */

/* ============ SOCIAL MEDIA TOP ============ */
div#social-media-top {
  margin-bottom: 4%;
  >i.fa {
    color: $l_gray;
    opacity: .67;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid transparent; // to avoid elements below from moving when hovering with bottom padding
    &:hover {
      color: $neon;
      &::before {
        border-bottom: 1px solid $neon;
        padding-bottom: 12px;
        border-width: medium;
      }
    }
  }
} /* ============ SOCIAL MEDIA TOP END ============ */

/* =============== CAROUSEL ============ */
div#main-carousel {
  @include bg_gradient;
  .carousel-caption {
    h2, p {
      @include tint;
      @include typo_carousel;
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
} /* =============== CAROUSEL END ============ */

/* =============== LATEST NEWS =============== */
div#latest {
  background-color: #0c120c;
  @include space_b4_sections;
  h2 {
    border-bottom: 1px solid $accent_light;
    padding-bottom: 4px;
    width: 85%;
  }
  ul {
    padding-top: 16px;
    padding-left: 4px;
    >li {
      line-height: 200%;
      list-style-type: none;
      >a {
        color: $wht_3;
        opacity: 0.85;
        &:hover {
          text-decoration: none;
          color: $neon;
          border-bottom: 1px solid $accent_light;
        }
      }
    }
  }
} /* ============= LATEST NEWS END ============= */

/* ============ FEATURED STORIES ================ */
div#featured {
  @include space_b4_sections;
  @include bg_gradient;
  margin-top: 0;
  h2 {
    border-bottom: 1px solid $accent_light;
    width: 85%;
    padding-bottom: 4px;
  }
  .feat-stories {
    padding-top: 34px;
    >div.stories {
      border: 1px solid $accent_light;
      padding-left: 0;
      padding-right: 0;
    }
  }
} /* ============ FEATURED STORIES END ============== */
